@import url('https://fonts.googleapis.com/css?family=Titan+One');

*{
    margin: 0;
    padding: 0;
}
.containermenu{
    position: relative;
    height: 90px;
    background-color: #2a2a2a;
}
.menu{
    position: absolute;
    left: 360px;
}

.containermenu section article:first-child,.containermenu section article:nth-child(3),
.menu ul li{
    position: relative;
    float: left;
}
.containermenu ul{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.containermenu ul li{
    display: inline-block;
}
.containermenu ul li a{
    position: relative;
    padding: 17px;
    color: white;
    font-size: 12px;
    font-family: Lucida sans;
    transition: 0.2s;
    text-decoration: none;
}
.containermenu ul li section,.containermenu ul li a{
    width: 106px;
    height: 48px;
}

/* menu */
.cpindex nav {
    position: absolute;
    height: 546px;
    width: 200px;
    color:#fff;
    background-color: #333;
    outline: solid 1px #2a2a2a;
}
.cpindex nav h2{
    padding: 20px;
    background: #2a2a2a;
    text-align: center;
}
ul {
    list-style: none;
}
.cpindex nav li {
    background: #333;
    outline: solid 1px #2a2a2a;
    transition-property: border-left;
    transition-duration: 0.3s;
}
.cpindex nav li:hover{
    background-color: #2a2a2a;
    border-left: 5px solid #eee;
}
.cpindex nav a{
    padding: 12px;
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Contenido pagina */
.cpindex #section2{
    position: relative;
    top: 3px;
    left: 203px;
    height: 200px;
    width: 1162px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.cpindex section:nth-child(2) article section{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .3);
    transition: background-color .5s;
}
.cpindex section:nth-child(2):hover article section{
    background-color: rgba(51, 51, 51, .7);
}
.cpindex section:nth-child(2) article ul li img{
    width: 100%;
    transform: translateY(-250px);
}
.cpindex #section2 article ul li img{
    float: left;
    filter: blur(0px);
    transition: flur .3s;
}
.cpindex #section2:hover article ul li img{
    filter: blur(1.5px);
}
.cpindex nav img{
    margin-right:40px;
    width: 30px;
    height: 30px;
}
.cpindex section:nth-child(3){
    position: relative;
    top: 6px;
    left: 201px;
    height: 341px;
    width: 1165px;
}
.cpindex section:nth-child(3) p{
    color: #333;
    font-size: 20px;
    font-family: 'Titan One', cursive;
}
.cpindex section article section ul{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 29px;
    background-color: rgb(28, 174, 231,.6);
    border-top-left-radius: 30px;
    transition: background-color .3s;
}
.cpindex section:hover article section ul{
    background-color: rgb(28, 174, 231,1);    
}
.cpindex section article section ul a{
    margin-left: 20px;
    color: white;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
}